<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="wellknown">
          <match url="^.well-known/(.*)" />
          <action type="Rewrite" url=".well-known/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>